numpy
image
kafka-python==2.0.1
firestore
opencv-python
imutils
rasterio
google-cloud-logging==1.15.0
google-cloud-storage
google-api-python-client
scipy
DateTime
pandas
imageio
Cython
pandas
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow==1.14
tensorflow-serving-api==1.14
keras>=2.0.8
opencv-python
h5py
imgaug
IPython[all]
